<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Markdown Document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.daringfireball.markdown</string>
				<string>public.markdown</string>
				<string>net.ia.markdown</string>
				<string>com.unknown.md</string>
				<string>net.daringfireball.im.mdown</string>
				<string>net.daringfireball.im.mkd</string>
				<string>net.daringfireball.im.mkdn</string>
				<string>net.daringfireball.im.mdwn</string>
				<string>net.daringfireball.im.mdtxt</string>
				<string>net.daringfireball.im.mdtext</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Shell Script</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.shell-script</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Swift Source</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.swift-source</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Python Script</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.python-script</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>XML Document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.xml</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>JavaScript</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.netscape.javascript-source</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>CSS Stylesheet</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.css</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>YAML Document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.yaml</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>JSON Document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.json</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>TOML Document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.toml</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>C Source</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.c-source</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>C++ Source</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.c-plus-plus-source</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>HTML Document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.html</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>INI Config</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.ini</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Objective-C Source</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.objective-c-source</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Perl Script</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.perl-script</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>PHP Script</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.php-script</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Ruby Script</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.ruby-script</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>TypeScript Source</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.daringfireball.im.typescript</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Rust Source</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.daringfireball.im.rust</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Go Source</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.daringfireball.im.go</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Kotlin Source</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.daringfireball.im.kotlin</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>SQL</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.daringfireball.im.sql</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>SCSS Stylesheet</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.daringfireball.im.scss</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>GraphQL</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.daringfireball.im.graphql</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Lua Source</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.daringfireball.im.lua</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>R Source</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.daringfireball.im.r</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Diff/Patch</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.daringfireball.im.diff</string>
			</array>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Markdown Document</string>
			<key>UTTypeIdentifier</key>
			<string>net.daringfireball.markdown</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>md</string>
					<string>markdown</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>text/markdown</string>
					<string>text/x-markdown</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Markdown Document</string>
			<key>UTTypeIdentifier</key>
			<string>public.markdown</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>md</string>
					<string>markdown</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>text/markdown</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Markdown Document</string>
			<key>UTTypeIdentifier</key>
			<string>net.ia.markdown</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>md</string>
					<string>markdown</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Markdown Document</string>
			<key>UTTypeIdentifier</key>
			<string>com.unknown.md</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>md</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>TypeScript Source</string>
			<key>UTTypeIdentifier</key>
			<string>net.daringfireball.im.typescript</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
				<string>ts</string>
				<string>tsx</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Rust Source</string>
			<key>UTTypeIdentifier</key>
			<string>net.daringfireball.im.rust</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
				<string>rs</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Go Source</string>
			<key>UTTypeIdentifier</key>
			<string>net.daringfireball.im.go</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
				<string>go</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Kotlin Source</string>
			<key>UTTypeIdentifier</key>
			<string>net.daringfireball.im.kotlin</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
				<string>kt</string>
				<string>kts</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>SQL</string>
			<key>UTTypeIdentifier</key>
			<string>net.daringfireball.im.sql</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
				<string>sql</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>SCSS Stylesheet</string>
			<key>UTTypeIdentifier</key>
			<string>net.daringfireball.im.scss</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
				<string>scss</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>GraphQL</string>
			<key>UTTypeIdentifier</key>
			<string>net.daringfireball.im.graphql</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
				<string>graphql</string>
				<string>gql</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Lua Source</string>
			<key>UTTypeIdentifier</key>
			<string>net.daringfireball.im.lua</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
				<string>lua</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>R Source</string>
			<key>UTTypeIdentifier</key>
			<string>net.daringfireball.im.r</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
				<string>r</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Diff/Patch</string>
			<key>UTTypeIdentifier</key>
			<string>net.daringfireball.im.diff</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
				<string>diff</string>
				<string>patch</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>net.daringfireball.markdown</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Markdown Document (mdown)</string>
			<key>UTTypeIdentifier</key>
			<string>net.daringfireball.im.mdown</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mdown</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>net.daringfireball.markdown</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Markdown Document (mkd)</string>
			<key>UTTypeIdentifier</key>
			<string>net.daringfireball.im.mkd</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mkd</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>net.daringfireball.markdown</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Markdown Document (mkdn)</string>
			<key>UTTypeIdentifier</key>
			<string>net.daringfireball.im.mkdn</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mkdn</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>net.daringfireball.markdown</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Markdown Document (mdwn)</string>
			<key>UTTypeIdentifier</key>
			<string>net.daringfireball.im.mdwn</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mdwn</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>net.daringfireball.markdown</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Markdown Document (mdtxt)</string>
			<key>UTTypeIdentifier</key>
			<string>net.daringfireball.im.mdtxt</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mdtxt</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>net.daringfireball.markdown</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Markdown Document (mdtext)</string>
			<key>UTTypeIdentifier</key>
			<string>net.daringfireball.im.mdtext</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mdtext</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
