<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>QLSupportedContentTypes</key>
			<array>
				<string>public.shell-script</string>
				<string>public.swift-source</string>
				<string>public.python-script</string>
				<string>public.xml</string>
				<string>com.netscape.javascript-source</string>
				<string>public.css</string>
				<string>public.markdown</string>
				<string>net.daringfireball.markdown</string>
				<string>net.ia.markdown</string>
				<string>com.unknown.md</string>
				<string>net.daringfireball.im.mdown</string>
				<string>net.daringfireball.im.mkd</string>
				<string>net.daringfireball.im.mkdn</string>
				<string>net.daringfireball.im.mdwn</string>
				<string>net.daringfireball.im.mdtxt</string>
				<string>net.daringfireball.im.mdtext</string>
				<string>public.json</string>
				<string>public.yaml</string>
				<string>public.toml</string>
				<string>public.c-source</string>
				<string>public.c-plus-plus-source</string>
				<string>public.html</string>
				<string>public.ini</string>
				<string>public.objective-c-source</string>
				<string>public.perl-script</string>
				<string>public.php-script</string>
				<string>public.ruby-script</string>
				<string>net.daringfireball.im.typescript</string>
				<string>net.daringfireball.im.rust</string>
				<string>net.daringfireball.im.go</string>
				<string>net.daringfireball.im.kotlin</string>
				<string>net.daringfireball.im.sql</string>
				<string>net.daringfireball.im.scss</string>
				<string>net.daringfireball.im.graphql</string>
				<string>net.daringfireball.im.lua</string>
				<string>net.daringfireball.im.r</string>
				<string>net.daringfireball.im.diff</string>
			</array>
			<key>QLSupportsSearchableItems</key>
			<false/>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.quicklook.preview</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).PreviewProvider</string>
	</dict>
</dict>
</plist>
